.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  font-family: var(--font-family-primary);

  &:active {
    outline: none;
  }
}

.themePrimary {
  background: #00acef;
  color: #fff;

  &:hover {
    background: #005eef;
  }

  &[disabled] {
    background: #00acef70;
  }

  &:enabled:active,
  &Pressed {
    background: #001162;
  }
}