.form {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 5px gray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  align-self: center;
}

.title {
  color: gray;
}

.email {
  margin-top: 10px;
}

.passwords {
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: stretch;

  &:first-child {
    margin-bottom: 10px;
  }
}
