.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  padding: 20px;
}

.title {
  color: red;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}