.app {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  min-height: 100vh;
  justify-content: center;
  padding: 10px;

  @media (min-width: 400px) {
    padding: 20px;
  }
}

.title {
  color: red;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}