:root {
  --button-primary-color: #00acef;
  --button-primary-disabled-color: #00acef70;

  --primary-color: #00acef;
  --font-family-primary: Verdana, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #00000010;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000030;
  border-radius: 100px;
}