:root {
  --button-primary-color: #00acef;
  --button-primary-disabled-color: #00acef70;

  --primary-color: #00acef;
  --font-family-primary: Verdana, Arial, sans-serif;
}

html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  padding: 20px;
}