.contacts {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 6px gray;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 10px;
}

.user {
  width: 40px;
  height: 40px;
  background-color: silver;
  border-radius: 50%;
  margin-right: 20px;
}

.userName {
  flex-grow: 1;
  font-size: 18px;
}

.search {
  justify-self: flex-end;
  margin-left: 10px;
}

.searchInput {
  border-radius: 10000px;
  border: 1px solid var(--primary-color);
  outline: none;
  padding: 5px 35px 5px 10px;
  font-size: 14px;
  background-image: url('../../assets/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 20px;
}

.searchInput:focus {
  box-shadow: 0 0 5px gray;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add, .delete, .edit {
  cursor: pointer;
}

.delete {
  fill: red;
  margin-left: 2px;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.list>:nth-child(n) {
  padding: 10px;
}

.list>:nth-child(10n - 4),
.list>:nth-child(10n - 3),
.list>:nth-child(10n - 2),
.list>:nth-child(10n - 1),
.list>:nth-child(10n) {
  background-color: aliceblue;
}

.list>:nth-child(10n - 4) {
  border-radius: 5px 0 0 5px;
}

.list>:nth-child(10n) {
  border-radius: 0 5px 5px 0;
}

.listHeader {
  font-weight: bold;
}

.checkboxContainer {
  background: red;
  max-width: 70%;
  justify-self: center;
}

.edit {
  margin-left: 10px;
  margin-right: 10px;
}

.edit path {
  fill: green;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxInput {
  width: 0;
  height: 0;
  margin: 0;
}

.checkbox {
  display: block;
  border: 2px solid;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.checkbox::before {
  --border-color: blue;
  display: none;
  position: absolute;
  bottom: 2px;
  right: 50%;
  content: '';
  width: 9px;
  height: 16px;
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  transform-origin: right bottom;
  transform: rotate(55deg) skew(20deg);
}

.checkboxInput:checked+.checkbox::before {
  display: block;
}