$grid-template-columns-2: 32px minmax(auto, 300px) minmax(auto, 200px) minmax(auto, 300px) 40px 40px;

.contacts {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 6px gray;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 5px;
  margin-bottom: auto;

  @media (min-width: 500px) {
    align-self: center;
    min-width: 460px;
  }

  @media (min-width: 700px) {
    padding: 20px;
  }
}

.header {
  border-bottom: 1px solid var(--primary-color);

  display: grid;
  grid-template-areas:
    "icon   name   name"
    "icon search exit";
  grid-template-columns: auto 1fr auto;
  gap: 15px 5px;
  padding: 5px;
  padding-bottom: 12px;

  @media (min-width: 400px) {
    padding: 10px;
  }

  @media (min-width: 700px) {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}

.userIcon {
  grid-area: icon;
  width: 40px;
  height: 40px;
  background-color: silver;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 400px) {
    align-self: center;
  }
}

.userName {
  grid-area: name;
  align-self: center;
  padding-left: 10px;
  text-align: end;

  @media (min-width: 700px) {
    text-align: initial;
  }
}

.search {
  grid-area: search;
  justify-self: end;

  @media (min-width: 400px) {
    justify-self: end;
    margin-right: 5px;
  }

  @media (min-width: 700px) {
    margin-right: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  &Input {
    border-radius: 10000px;
    border: 1px solid var(--primary-color);
    outline: none;
    padding: 5px 35px 5px 10px;
    font-size: 14px;
    background-image: url('../../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 20px;
  }

  &Input:focus {
    box-shadow: 0 0 5px gray;
  }
}

.signOut {
  grid-area: exit;
  cursor: pointer;

  @media (min-width: 700px) {
    margin-left: auto;
  }
}