.contacts, .contacts * {
  --grid-template-columns:
    32px minmax(auto, 300px) minmax(auto, 200px) minmax(auto, 300px) 40px 40px;
}

.contacts {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 6px gray;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media (min-width: 400px) {}

@media (min-width: 700px) {
  .contacts {
    padding: 20px;
  }
}

.header {
  border-bottom: 1px solid var(--primary-color);

  display: grid;
  grid-template-areas:
    "icon   name   name"
    "exit search search";
  grid-template-columns: auto 1fr auto;
  gap: 15px 5px;
  padding: 5px;
}

@media (min-width: 400px) {
  .header {
    display: grid;
    grid-template-areas:
      "icon name   name"
      "icon search exit";
    padding: 10px;
  }
}

@media (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}

.userIcon {
  grid-area: icon;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: silver;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 400px) {
  .userIcon {
    align-self: center;
  }
}

.userName {
  grid-area: name;
  align-self: center;
}

.search {
  grid-area: search;
}

@media (min-width: 400px) {
  .search {
    justify-self: end;
  }
}

@media (min-width: 700px) {
  .search {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.signOut {
  grid-area: exit;
  cursor: pointer;
}

@media (min-width: 700px) {
  .signOut {
    margin-left: auto;
  }
}

.searchInput {
  border-radius: 10000px;
  border: 1px solid var(--primary-color);
  outline: none;
  padding: 5px 35px 5px 10px;
  font-size: 14px;
  background-image: url('../../assets/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 20px;
}

.searchInput:focus {
  box-shadow: 0 0 5px gray;
}

svg {
  cursor: pointer;
}

.delete {
  fill: red;
  transform: scale(1.2);
}

.list {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  padding-right: 5px;
}

.list>* {
  padding: 10px;
  display: flex;
  align-items: center;
}

.list>:nth-child(12n - 5),
.list>:nth-child(12n - 4),
.list>:nth-child(12n - 3),
.list>:nth-child(12n - 2),
.list>:nth-child(12n - 1),
.list>:nth-child(12n) {
  background-color: aliceblue;
}

.list>:nth-child(12n - 5) {
  border-radius: 5px 0 0 5px;
}

.list>:nth-child(12n) {
  border-radius: 0 5px 5px 0;
}

.listHeader {
  font-weight: bold;
  min-height: 40px;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid var(--primary-color);
  z-index: 5;
}